# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code and IDEs
.vscode/
.idea/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Log files
*.log

# Test coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Static & media files (if generated)
staticfiles/
media/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pydantic
pydantic-schema.json

# Build / distribution
build/
dist/
*.egg-info/
